:root {
	--primary-color: rgba(255, 255, 255, 0.87);
	--secondary-color: #213547;

	--primary-bg-color: #242424;
	--secondary-bg-color: #ffffff;

	--primary-button-color: #1a1a1a;
	--secondary-button-color: #f9f9f9;

	--hover-color: #646cff;
}
