.ThemeSwitcher {
	color: var(--secondary-color);
	display: flex;
	justify-content: end;
	padding-right: 2rem;

	button {
		background: none;
		border: none;
		font-size: 1rem;
		text-decoration: underline;

		&:hover {
			border: none;
			outline: none;
		}

		&:active {
			border: none;
			outline: none;
		}

		&:focus {
			border: none;
			outline: none;
		}
	}
}
