@import url('../globals/globals.scss');

.dark_theme {
	--color: var(--primary-color);
	--invert-color: var(--secondary-color);

	--bg-color: var(--primary-bg-color);
	--invert-bg-color: var(--secondary-bg-color);

	--button-color: var(--primary-button-color);
	--invert-button-color: var(--secondary-button-color);
}

.light_theme {
	--color: var(--secondary-color);
	--invert-color: var(--primary-color);

	--bg-color: var(--secondary-bg-color);
	--invert-bg-color: var(--primary-bg-color);

	--button-color: var(--secondary-button-color);
	--invert-button-color: var(--primary-button-color);
}
