.ThemeSwitcher {
	display: flex;
	justify-content: end;

	button {
		background: none;
		border: none;
		font-size: 1rem;
		text-decoration: underline;
		color: var(--primary-color);

		&:hover {
			border: none;
			outline: none;
		}

		&:active {
			border: none;
			outline: none;
		}

		&:focus {
			border: none;
			outline: none;
		}
	}
}
